 body {
      margin: 0;
      font-family: 'Inter', sans-serif;
      background: linear-gradient(to bottom, #8000ff, #ffffff);
      color: white;
    }
    header {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      padding: 20px 5%;
    }
    nav {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
    }
    nav a {
      color: white;
      text-decoration: none;
      font-weight: bold;
      font-size: 0.95em;
      background-color: #8458ff;
      color: white;
      padding: 7px 15px;
      border: none;
      border-radius: 30px;
      font-size: 0.80em;
      cursor: pointer;
    }
    .hero {
      text-align: center;
      padding: 60px 20px;
    }
    .hero h1 {
      font-size: 2em;
      margin-bottom: 20px;
      
    }
    .hero p {
      font-size: 1em;
      margin-bottom: 30px;
    }
    .hero button {
      background-color: #8458ff;
      color: white;
      padding: 12px 24px;
      border: none;
      border-radius: 30px;
      font-size: 1em;
      cursor: pointer;
    }
    .sections {
      display: flex;
      flex-direction: column;
      align-items: center;
      background: rgb(255, 255, 255);
      color: #333;
      padding: 30px 5%;
      text-align: center;
    }
    .section {
      margin: 20px 0;
      max-width: 300px;
    }
    .section i {
      font-size: 2em;
      margin-bottom: 10px;
    }
    .section h3 {
      margin: 10px 0;
    }
    @media(min-width: 768px) {
      .sections {
        flex-direction: row;
        justify-content: space-between;
      }
      .section {
        margin: 20px;
        max-width: none;
      }
    }
